.container {
    background: url("https://i.imgur.com/K8WO8vm.jpg");
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    font-family: 'Montserrat', sans-serif;
    height: 100vh;
}

.button {
    border-radius: 20px;
    border: 1px solid;
    background-color: #7A4897;
    color: #FFFFFF;
    font-size: 12px;
    font-weight: bold;
    padding: 12px 45px;
    letter-spacing: 1px;
    text-transform: uppercase;
    transition: transform 80ms ease-in;
}


.ghost {
    background-color: transparent;
    border-color: #FFFFFF;
}